extends ../_layouts/main.jade

mixin article(item)
  .article
    h2= item.title
    div!= item.description

block content

  h2= page.title
  section!= content

  h2 Posts

  each item in site.posts
    +article(item)
